In [7]:
import pandas as pd
import numpy as np

# series创建

In [8]:
'''
   使用列表创建
'''
ser01 = pd.Series([1,2,3,4])
ser01

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
'''
   使用数组创建Series
'''
ser02 = pd.Series(np.random.randint(1,9,5))
ser02

0    5
1    2
2    1
3    8
4    4
dtype: int64

In [11]:
'''
   使用字典创建Series
'''
dic = {
    'a':1,
    'b':2,
    'c':3
}
ser03 = pd.Series(dic)
ser03

a    1
b    2
c    3
dtype: int64

In [12]:
print(ser03.index)

Index(['a', 'b', 'c'], dtype='object')

In [14]:
print(ser03.values)

[1 2 3]

In [15]:
print(ser03.dtype)

int64

In [16]:
'''
   设置index
'''
ser02 = pd.Series(np.random.randint(1,9,5))
ser02

0    4
1    8
2    4
3    8
4    3
dtype: int64

In [17]:
#修改index的值
ser02.index = list('abcde')
ser02

a    4
b    8
c    4
d    8
e    3
dtype: int64

In [18]:
#创建时指定index
ser02 = pd.Series(np.random.randint(1,9,5),index=['a','b','c','d','e'])
ser02

a    6
b    6
c    7
d    3
e    5
dtype: int64

In [20]:
'''
   常见属性
'''
ser02.name = '帅哥'
ser02

a    6
b    6
c    7
d    3
e    5
Name: 帅哥, dtype: int64

In [21]:
ser02.index.name = '编号'
ser02

编号
a    6
b    6
c    7
d    3
e    5
Name: 帅哥, dtype: int64

In [22]:
ser02.axes  #返回轴标签列表

[Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='编号')]

In [24]:
ser02.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='编号')

In [25]:
ser02.empty

False

In [26]:
ser02.ndim

1

In [27]:
ser02.size

5

In [28]:
ser02.head(3)

编号
a    6
b    6
c    7
Name: 帅哥, dtype: int64

In [29]:
ser02.tail(2)

编号
d    3
e    5
Name: 帅哥, dtype: int64

# Series值获取

In [30]:
ser02 = pd.Series(np.random.randint(1,9,5),index=['a','b','c','d','e'])
ser02

a    5
b    4
c    2
d    2
e    1
dtype: int64

In [31]:
#通过索引获取
ser02['a']

5

In [33]:
#获取多个元素
ser02[['a','c']]

a    5
c    2
dtype: int64

In [36]:
#切片
ser02['a':'c']

a    5
b    4
c    2
dtype: int64

In [39]:
'''
   通过数字下标获取
'''
ser02 = pd.Series(np.random.randint(1,9,5),index=['a','b','c','d','e'])
ser02

a    3
b    2
c    4
d    7
e    6
dtype: int64

In [40]:
ser02[0]

3

In [42]:
ser02[[0,2]]

a    3
c    4
dtype: int64

In [44]:
ser02[1:4]

b    2
c    4
d    7
dtype: int64

In [51]:
ser02[-1]

6

In [49]:
#具有相同索引
ser02 = pd.Series(np.random.randint(1,9,5),index=['a','b','c','d','e'])
ser02

a    5
b    5
c    6
d    6
e    6
dtype: int64

In [50]:
ser02[0]   #相同索引不能通过下标获取

5

# series的运算

In [52]:
ser01 = pd.Series(np.random.randint(1,5,5))
ser01

0    1
1    3
2    4
3    4
4    4
dtype: int64

In [54]:
#与标量进行运算
print(ser01+10)
print(ser01-10)
print(ser01*10)
print(ser01/10)
print(ser01**2)

0    11
1    13
2    14
3    14
4    14
dtype: int64
0   -9
1   -7
2   -6
3   -6
4   -6
dtype: int64
0    10
1    30
2    40
3    40
4    40
dtype: int64
0    0.1
1    0.3
2    0.4
3    0.4
4    0.4
dtype: float64
0     1
1     9
2    16
3    16
4    16
dtype: int64

In [56]:
#series 与 series 的运算
ser01 = pd.Series(np.random.randint(1,5,5))
print(ser01)
ser02 = pd.Series(np.random.randint(1,5,5))
print(ser02)

0    2
1    2
2    3
3    1
4    3
dtype: int64
0    4
1    1
2    1
3    1
4    2
dtype: int64

In [58]:
print(ser01+ser02)
print(ser01-ser02)
print(ser01*ser02)
print(ser01/ser02)
print(ser01**ser02)

0    6
1    3
2    4
3    2
4    5
dtype: int64
0   -2
1    1
2    2
3    0
4    1
dtype: int64
0    8
1    2
2    3
3    1
4    6
dtype: int64
0    0.5
1    2.0
2    3.0
3    1.0
4    1.5
dtype: float64
0    16
1     2
2     3
3     1
4     9
dtype: int64

In [59]:
#直接使用numpy函数
np.log(ser01)

0    0.693147
1    0.693147
2    1.098612
3    0.000000
4    1.098612
dtype: float64

In [60]:
np.exp(ser01)

0     7.389056
1     7.389056
2    20.085537
3     2.718282
4    20.085537
dtype: float64

In [61]:
ser01

0    2
1    2
2    3
3    1
4    3
dtype: int64

In [62]:
ser01<4

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [63]:
~ser01<4  #~取反

0    True
1    True
2    True
3    True
4    True
dtype: bool

# series自动对齐

In [64]:
ser01 = pd.Series(np.random.randint(1,5,5),index = list('abcde'))
print(ser01)
ser02 = pd.Series(np.random.randint(1,5,5),index = list('abmne'))
print(ser02)

a    2
b    3
c    3
d    1
e    1
dtype: int64
a    1
b    3
m    4
n    2
e    4
dtype: int64

In [69]:
mask = ser01+ser02  #对于无法通过下标对应的数据被重新赋值为NaN
mask

a    3.0
b    6.0
c    NaN
d    NaN
e    5.0
m    NaN
n    NaN
dtype: float64

In [70]:
np.isnan(mask)

a    False
b    False
c     True
d     True
e    False
m     True
n     True
dtype: bool

In [71]:
mask[~np.isnan(mask)]  #结合numpy函数过滤NaN数据

a    3.0
b    6.0
e    5.0
dtype: float64

# 缺失值检测

In [73]:
ser02 = pd.Series(np.random.randint(1,5,5),index = list('abmne'))
ser02['m'] = np.NaN
print(ser02)

a    3.0
b    4.0
m    NaN
n    1.0
e    4.0
dtype: float64

In [74]:
ser02.isnull()  #返回一个bool series

a    False
b    False
m     True
n    False
e    False
dtype: bool

In [76]:
ser02[~ser02.isnull()] #过滤缺失值

a    3.0
b    4.0
n    1.0
e    4.0
dtype: float64

In [77]:
ser02.notnull()

a     True
b     True
m    False
n     True
e     True
dtype: bool

In [79]:
ser02[ser02.notnull()]  #过滤缺失值

a    3.0
b    4.0
n    1.0
e    4.0
dtype: float64