In [1]:
import pandas as pd
import numpy as np

In [2]:
'''
   字典创建
'''

dic = {
    'name':['joe','anne','yilian'],  #key就是列索引
    'age':[18,19,20],
    'class':1,  #整列数据会被标量填充
}

df03 = pd.DataFrame(dic)
df03

     name  age  class
0     joe   18      1
1    anne   19      1
2  yilian   20      1

In [3]:
df03.index = list('abc')
df03

     name  age  class
a     joe   18      1
b    anne   19      1
c  yilian   20      1

In [5]:
df03.reset_index(drop = True)   
df03

     name  age  class
a     joe   18      1
b    anne   19      1
c  yilian   20      1

In [6]:
df03.iloc[0]

name     joe
age       18
class      1
Name: a, dtype: object

In [7]:
df03.iloc[[0,1],[0,1]]
df03

     name  age  class
a     joe   18      1
b    anne   19      1
c  yilian   20      1